:root {
    --main-color: #0075ff;
    --main-color-alt: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* start Box */
@media (max-width:767px) { 
    .block-mobile {
        display: block ;
    }
}
.d-block {
    display: block;
}
/* start component */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end component */
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.f-wrap {
    flex-wrap: wrap;
}
.flex-dir {
    flex-direction: column ;
}
.d-grid {
    display: grid ;
}
.gap-20 {
    gap: 20px ;
}
.align-center {
    align-items: center;
}
/* end Box */
/* start padding and margin */
.p-15 {
    padding: 15px ;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px ;
}
.p-20 {
    padding: 20px;
}
.p-5-10 {
    padding: 5px 10px;
}
.pt-5 {
    padding-top: 5px ;
}
.pt-10 {
    padding-top: 10px ;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px ;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pr-20 {
    padding-right: 20px;
}
.pl-10 {
    padding: 10px;
}
.m-0 {
    margin: 0px;
}
.m-5 {
    margin: 5px ;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
/* end padding and margin */
/* start color */
.c-white {
    color: white ;
}
.c-grey {
    color: var(--grey-color) ;
}
.c-red {
    color: var(--red-color);
}
.c-green {
    color: var(--green-color);
}
.c-blue {
    color: var(--main-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-black {
    color:black ;
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-blue {
    background-color: var(--main-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-ddd {
    background-color: #ebeaea ;
}
/* end color */
/* start position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute ;
}
/* end position */
/* start font and text */
@media (max-width:767px) {
    .txt-mobile {
        text-align: center;
    }
}
.txt-c {
    text-align: center;
}
.fs-11 {
    font-size: 11px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-26 {
    font-size: 26px;
}
.w-85 {
    width: 85%;
}
.w-full {
    width: 100% ;
}
.fw-bold {
    font-weight: bold;
}
/* end font */

/* start border */
.rad-10 {
    border-radius: 10px ;
}
.rad-6 {
    border-radius: 6px ;
}
.rad-50 {
    border-radius: 50% ;
}
.border-eee {
    border: 1px solid #eee;
}
.border-bottom {
    border-bottom: 1px solid #eee;
}
/* end border */
